@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: none !important;
  }

  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .interactive {
    cursor: none !important;
  }
}
